@import "../../vars.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&display=swap');

.container {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 90vh;
}

.title {
  display: flex;
  position: absolute;
  align-items: center;

  background-color: rgba(11, 6, 12, 0.808);

  font-family: 'Roboto Mono', monospace !important;
  
  border-radius: 2px;
  padding: 0 5px 0 5px;
  gap: 10px;
  
  top: -20px;
}
.title h4 {
  color: rgb(233, 227, 150);
}
.title h2 {
  font-size: 1.8em;
}


.infoBox {
  margin-top: -3em;
  position: relative;
}

.bio {
  background-color: rgb(17, 11, 22);

  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  
  width: 1000px;
  height: max-content;

  color: white;
  text-align: center;

  border-radius: 10px;
  padding: 10px 25px 10px 25px;
  gap: 30px;
}

.imgBox {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  height: max-content;
  
  margin-bottom: 1.5em;
}

.bioImg {
  position: block;
  height: 225px;
  margin-top: 2em;
  border-radius: 20px;
  border: 2px solid rgba(255, 255, 255, 0.63);
  transition-duration: 0.2s;
}
.bioImg:hover {
  border-color: rgb(250, 209, 148);
  transform: translateY(-2px);   
}

.resume {
  display: flex;
  width: 100%;
  align-items: start;
  text-align: left;
  justify-content: center;
}

.button {
  color: white;
  padding: 10px;
  border-radius: 10px;
  border: 1.5px solid rgba(255, 255, 255, 0.63);

  transition-duration: 0.2s;
}
.button:hover {
  color: rgb(250, 209, 148);
  border-color: rgb(250, 209, 148);
  transform: translateY(-2px);   
}
.bioIntro {
  display: flex;
  text-align: left;

  font-size: 20px;
  margin-bottom: 5px;
}

.bioInfo {
  display: flex;
  flex-direction: column;

  color: rgba(255, 255, 255, 0.63);

  width: 100%;

  text-align: left;
  font-size: 17px;
  
  border-radius: 10px;
  gap: 10px;
}

.name {
  color:rgb(212, 169, 247);
}

.emphasis {
  color: rgb(255, 213, 98);
}

.biocolor1 {
  color: rgb(125, 207, 231);
}
.biocolor2 {
  color: rgb(98, 255, 111);
}

a{
  color: rgb(255, 239, 146);
  text-decoration: none;
  transition-duration: 0.2s;
}
a:hover {
  color: rgb(212, 169, 247);
}

@media screen and (max-width: 1024px) {
  
  .container {
      margin-top: 3em;
      height: auto;
  }
  .bio {
      flex-direction: column;
      width: 98%;
      height: auto;
      padding: 0.5em;
      gap: 0em;
  }
  .infoBox {
      width: 100%;
      margin-top: 0.5em;
  }
  .imgBox {
    gap: 15px;

    margin-bottom: 0;
  }
  .bioImg {
      height: 15em;
      margin-top: 2em;
  }
  .bioIntro {
      font-size: 1.3em;
      justify-content: center;
      text-align: center;
      margin-bottom: -5px;
  }
  .bioInfo {
      font-size: 1em;
      margin-top: 20px;
      margin-bottom: 20px;
  }
  .resume {
      text-align: center;
      justify-content: center;
  }
  .title {
    top: -13px;
  }
  .title h4 {
    color: rgb(233, 227, 150);
    font-size: 0.8em;
  }
  .title h2 {
    font-size: 1.5em;
  }
}