@import "../../vars.css";

.container {
    display: flex;
    position: relative;
    justify-content: space-between;
    color: var(--color-text);
    width: 100%;

    /* Disable user highlight selection */
    -webkit-user-select: none; 
    -ms-user-select: none;
    user-select: none;
}

.title {
    color: var(--color-text);
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1.75px;
    text-transform: uppercase;
}

.bio {
    background-color: rgba(12, 12, 12, 0.6);
    display: flex;
    flex-direction: column;
    padding: 20px 15px 15px 15px;
    text-align: center;
    margin-top: 14px;
    margin-left: 0.5%;
    border-radius: 10px;
    width: 500px; 
    height: auto;
}
.bioImg {
    height: 250px;
    border-radius: 20px;
}

.bioIntro {
    justify-content: center;
    font-size: 20px;
    margin-top: 5%;
}

.bioInfo {
    background-color: rgba(55, 40, 59, 0.418);;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    text-align: left;
    font-size: 14px;
    margin-top: 5%;
    line-height: 20px;
}

.name {
    color:rgb(212, 169, 247);
}

.emphasis {
    color: rgb(255, 213, 98);
}

.biocolor1 {
    color: rgb(125, 207, 231);
}
.biocolor2 {
    color: rgb(98, 255, 111);
}

a{
    text-decoration: none;
    transition-duration: 0.2s;
}
a:hover {
    color: rgb(212, 169, 247);
}

.resume {
    display: flex;
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.button {
    color: white;
    padding: 10px;
    border-radius: 30px;
    background-color: rgb(104, 66, 119);

    transition-duration: 0.2s;
}
.button:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(81, 51, 94);
}

.content {
    background-color: rgba(12, 12, 12, 0.6);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 14px;
    margin-left: 0.5%;
    margin-right: 0.5%;
    border-radius: 10px;
    width: 100%;
}

.box {
    background-color: rgba(12, 12, 12, 0.6);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 14px;
    margin-right: 0.5%;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    width: auto;
}

.history {
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    border-radius: 15px;
}

.historyItem {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    gap: 17px;
    width: 100%;
    border-radius: 10px;
    padding: 15px;

    transition: 0.5s;
}
.historyItem:hover {
    background-color: rgba(55, 40, 59, 0.418);
}

.historyItemDetails {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: var(--font-roboto);
}
.historyItemDetails h3 {
    font-size: 23px;
    font-weight: 500;
}
.historyItemDetails p {
    color: rgb(112, 104, 119);
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 2px;
}
.historyItemDetails ul {
    color: rgb(182, 175, 189);
    margin: 3px 0 0 15px;
    padding: 0;
    list-style-position: outside;
    font-size: 25px;
    list-style-type: disc;
}

.techBox {
    margin-top: 10px;
    height: 100%;
    width: 100%;
}
.tech {
    font-size: 12px;
    font-weight: bold;
    color: rgb(180, 168, 190);
    display: inline-block;
    padding: 10px;
    line-height: 8px;
    background-color: rgb(50, 28, 56);
    margin: 2px;
    border-radius: 9999px;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.historyInfo {
    font-size: 15px;
    font-weight: 180;
}

@media screen and (max-width: 1340px) {
    .title {
        text-align: center;
    }

    .container {
        flex-direction: column;
        gap: 10px;
    }

    .bio {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 20px;
        padding: 25px;
        width: 100%;
        margin: 0;
    }
    .bioIntro {
        text-align: left;
        font-size: 24px;
        margin: 0;
    }
    .bioInfo {
        width: 100%;
        font-size: 16px;
        margin-top: 10px;
    }
    .imgBox {
        display: flex;
        width: 250px;
    }
    .resume {
        margin-top: 5px;
        text-align: left;
        justify-content: left;
    }

    .content {
        align-items: center;
        margin: 0;
        gap: 34px;
        width: 100%;
    }

    .box {
        margin: 0;
        padding: 20px;
        width: 100%;
    }
    
    .history {
        width: 100%; 
        gap: 9px;
    }
}

@media screen and (max-width: 830px) {
    .bio {
        flex-direction: column;
        gap: 0px;
    }
    .bioIntro {
        text-align: center;
        margin-top: 2%;
    }
    .bioInfo {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .resume {
        text-align: center;
        justify-content: center;
    }
}