@import "./vars.css";

* {
}
/* #140C25 */
.App {
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, rgba(31,7,33,1) 0%, rgba(23,14,40,1) 90%);
  width: 100%;
  height: 100%;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  
  color: rgb(0, 0, 0);

  font-family: 'Roboto', sans-serif;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  height: 100%;

  border: 1px solid red;
}

.cursor {
  pointer-events: none;
  position: fixed;
  background-color: rgb(255, 255, 255);
  /*
  height: 16px;
  width: 16px;
  */
  border-radius: 50%;
  z-index: 9;
}

.headroom {
  top: 0;
  left: 0;
  right: 0;
  z-index: 0;
}
.headroom--unfixed {
  position: relative;
  transform: translateY(0);
}
.headroom--scrolled {
  transition: transform 200ms ease-in-out;
}
.headroom--unpinned {
  position: fixed;
  transform: translateY(-100%);
}
.headroom--pinned {
  position: fixed;
  transform: translateY(0%);
}

@media screen and (max-width: 1370px){
  .content {
    gap: 50%;
  }
}
