@import url('https://fonts.googleapis.com/css2?family=Space+Mono&family=VT323&display=swap');

:root {
  /* Colors */
  --color-text: white;
  --color-primary: #a37eaf;
  --color-secondary: #472f5b;
  --color-dark: #1b0822;
  --color-bg: #1F0721;

  /* Fonts */
  --font-roboto: "Roboto";
}