@import "../../vars.css";

.navbar {
  background: linear-gradient(0deg, rgba(23, 3, 29, 0.712), rgb(26, 1, 34));
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  z-index: 99;
  width: 100%;
}

.menu {
  display: flex;
}
.menuItems {
  display: flex;
  gap: 40px;
  list-style: none;
}
.menuItems a {
  color: var(--color-text);
  text-decoration: none;
}

.menuBtn {
  display: none;
}

.number {
  color: rgb(233, 227, 150);
}
.menuItem {
  font-family: 'Roboto Mono', monospace !important;
  font-size: 12px;
}
.menuItem:hover {
  color: rgb(225, 188, 255);
  cursor: pointer;
}

#hamburger {
  display: none;
  font-size: 45px;
  color: white;

  transition-duration: 0.4s;
}
#hamburger:hover {
  color: rgb(225, 188, 255);
}


#icon {
  display: inline-block;
  font-size: 45px;
  color: white;
  text-decoration: none;
  
  transition-duration: 0.4s;
}
#icon:hover {
  color: rgb(225, 188, 255);
}
#icon:active {
  font-size: 50px;
}


@media screen and (max-width: 830px) {
  .navbar {
    flex-direction: column;
    width: 100%;
    padding: 10px 0px;
  }

  .menu {
    position: absolute;
    right: 0;
    flex-direction: column;
    align-items: flex-end;
    gap: 11px;
    z-index: 3;
  }

  .menuBtn {
    display: flex;
  }

  .menuItems {
    display: none;
    flex-direction: column;
    gap: 13px;
    border-radius: 10px; 
    background: rgb(25,55,109);
    background: linear-gradient(0deg, rgba(23, 3, 29, 0.712), rgb(26, 1, 34));
    padding: 24px 33px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  }

  .menuOpen { 
    display: flex;
    z-index: 1;
  }

  #hamburger {
    display: flex;
  }
  #hamburger:hover {
    cursor: pointer;
  }
}