@import "../../vars.css";

.container {
    color: var(--color-text);
    background-color: var(--color-secondary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 1.5em;
    gap: 2em;
    text-align: center;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.text h2 {
    font-size: 3em;
    font-weight: 700;
}

.text p {
    color: #e1cef0;
    font-size: 1.3em;
    width: 55%;
}

.button {
    display: inline-block;
    color: white;
    border: 2px solid white;
    border-radius: 10%;
    padding: 1em;
    transition-duration: 0.5s;
}
.button:hover {
    color: rgb(250, 209, 148);
    border-color: rgb(250, 209, 148);
    transform: translateY(-5px);   
}

.linkbox {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.links {
    display: flex;
    align-items: flex-start;
    list-style: none;
    gap: 2em;
}

.link {
    display: flex; 
    align-items: center;
}
#icon {
    font-size: 50px;
    width: 50px;
    border-radius: 10%;
    color: white;
    text-decoration: none;
    transition-duration: 0.5s;
}
#icon:hover {
    filter: sepia(1) saturate(7.3) hue-rotate(0deg) brightness(1);
    transform: translateY(-5px);                                  
}

.author {
    color: rgb(226, 211, 236);
    font-family: 'Roboto Mono', monospace !important;
    text-align: center;
    font-size: 0.7em;
    padding: 1.5em;
}

@media screen and (max-width: 1024px) {
    .text h2 {
        font-size: 2em;
    }
    
    .text p {
        font-size: 0.8em;
        width: 85%;
    }

    .links {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        list-style: none;
    }
    
    .link {
        display: flex; 
        align-items: center;
    }

    .button {
        font-size: 0.8em;
    }

    .container {
        justify-content: center;
        align-items: center;
        gap: 0.7em;
    }

    #icon {
        height: 20px;
        width: 20px;
    }

    .text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .links {
        justify-content: center;
        align-items: center;
    }

    .author {
        font-size: 0.5em;
    }
}