@import "../../vars.css";

.banner {
  height: 100vh;
}

.tvContainer {
  position: absolute;
  border: 1px solid blue;
}

.box {
  position: absolute;
  color: white;
  border: 1px solid red;
  top: 50%;
  left: 25%;
  width: 10%;
  height: 10%;
  transform: rotateY(75deg);
}

.header {
  position: absolute;
  color: rgb(255, 255, 255);
  z-index: 99999;
  width: 100%;
  border: 1px solid red;
  text-align: center;
  font-size: 450%;

  /* Disable user highlight selection */
  -webkit-user-select: none; 
  -ms-user-select: none;
  user-select: none;
}

.arrow {
  color: white;
}

.down_arrow {
  top: calc(100vh - 80px);
  left: calc(100% - 50px);
  position: absolute;
  width: 0;
  height: 35px;
  border: 2px solid;
  border-radius: 2px;
  animation: jumpInfinite 1.5s infinite;
}

.down_arrow:after {
  content: " ";
  position: absolute;
  top: 12px;
  left: -10px;
  width: 16px;
  height: 16px;
  border-bottom: 4px solid;
  border-right: 4px solid;
  border-radius: 4px;
  transform: rotateZ(45deg);
}

.scroll {
  height: 100%;
  width: 100%;

  border: 2px solid red;
}

.tv{
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: 1;

  animation-name: floatingtv;
  animation-duration: 3s;
  animation-iteration-count: infinite; 
  animation-timing-function: ease-in-out;
  animation-delay: 500ms;
}

@keyframes floatingtv {
    0% {
        transform: translate(0, 0px);
    }
    50% {
        transform: translate(0, 23px);
    }
    100% {
        transform: translate(0, 0px);
    }
}

.heroImage {
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: 1;

  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite; 
  animation-timing-function: ease-in-out;
}

@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }
    50% {
        transform: translate(0, 20px);
    }
    100% {
        transform: translate(0, -0px);
    }
}

@keyframes jumpInfinite {
  0% {
    margin-top: 0;
  }
  50% {
    margin-top: 25px;
  }
  100% {
    margin-top: 0;
  }
}

@keyframes scroll {
	0% {
		transform: translateY(0);
	}
	30% {
		transform: translateY(100px);
	}
}

svg #wheel {
	animation: scroll ease 1.5s infinite;
}