@import "../../vars.css";

.banner {
  height: 100vh;
}

.header {
  inset: 0;
  padding-left: 4%;
  justify-content: center;
  align-items: center;
  font-size: 125px;
  color: rgb(255, 255, 255);
  mix-blend-mode: difference;

  /* Disable user highlight selection */
  -webkit-user-select: none; 
  -ms-user-select: none;
  user-select: none;
}

.arrow {
  color: white;
}

.down_arrow {
  top: calc(100vh - 80px);
  left: calc(100% - 50px);
  position: absolute;
  width: 0;
  height: 35px;
  border: 2px solid;
  border-radius: 2px;
  animation: jumpInfinite 1.5s infinite;
}

.down_arrow:after {
  content: " ";
  position: absolute;
  top: 12px;
  left: -10px;
  width: 16px;
  height: 16px;
  border-bottom: 4px solid;
  border-right: 4px solid;
  border-radius: 4px;
  transform: rotateZ(45deg);
}

.scroll {
  top: calc(100vh - 110px);
  left: calc(100% - 70px);
  position: absolute;
  width: 0;
  height: 35px;
  border-radius: 2px;
  animation: jumpInfinite 1.5s infinite;
}

@keyframes jumpInfinite {
  0% {
    margin-top: 0;
  }
  50% {
    margin-top: 25px;
  }
  100% {
    margin-top: 0;
  }
}